*{box-sizing:border-box;}

body{
  margin:0;
  font-family:Arial;
  text-align:center;
  color:white;
}

nav{
  background:rgba(0,0,0,0.7);
  padding:10px;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:bold;
}

.main-img{
  width:90%;
  max-width:600px;
  border-radius:20px;
  margin:15px 0;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:15px;
  padding:15px;
}

.card{
  background:rgba(255,255,255,0.2);
  padding:10px;
  border-radius:15px;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

@media(max-width:600px){
  h1{font-size:22px;}
}

/* Backgrounds */
.bg1{background:linear-gradient(45deg,#ff512f,#dd2476);}
.bg2{background:linear-gradient(45deg,#1d2671,#c33764);}
.bg3{background:linear-gradient(45deg,#0f2027,#2c5364);}
.bg4{background:linear-gradient(45deg,#56ab2f,#a8e063);}
.bg5{background:linear-gradient(45deg,#f7971e,#ffd200);}
.bg6{background:linear-gradient(45deg,#ff6a00,#ee0979);}
.bg7{background:linear-gradient(45deg,#00c6ff,#0072ff);}
